<% content_for :title, "Users"%>

<h1> <strong>Potential friends</strong> </h1>
<br>
<div>
  <% @potential_friends.each do |user|%>
    <%= render user %>
    <%= button_to "Send Follow Request", send_follow_request_path(user.id), method: :put %>
  <%end%>
</div>
<br>

<h1> <strong>Pending follow requests</strong> </h1>
<br>
<div>
  <% @pending_followers.each do |user|%>
    <%= render user %>
    <%= button_to "Approve Follow Request", approve_follow_request_path(user.id), method: :put%>
    <%= button_to "Reject Follow Request", reject_follow_request_path(user.id), method: :delete%>


  <%end%>
</div>
<br>


<h1> <strong>Accepted follow requests </strong></h1>
<br>
<div>
  <% @accepted_followings.each do |user|%>
    <%= render user %>
    <p> view friend's profile</p>
  <%end%>
</div>
<br>